@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; background:url(../images/bg.jpg) repeat-x #ebe8d9;}
img{border:0;}
.clear{clear:both}
/*wrapper and container*/
#wrapper{
	width:1200px;
	margin:0 auto;
}

#container{
	margin:0 auto;
	width:1100px;
	height:auto;
	background:url(../images/bg.jpg) repeat-x;
}

#welcome{
    float:right;
	font:36px Verdana, Geneva, sans-serif;
	color:#FFF;
	margin-top:90px;
    text-align: right;
    margin-left: auto;
}

#aboutme{

    background-color:#fff;
    height:auto;
}


.biocontent{
	font:15px Arial, sans-serif;
	color:#1f1e1e;
	margin-top:20px;
	line-height:24px;
	margin-left: 60px;
    margin-right: 30px;
    letter-spacing: 0.5px;
	
}

.biophoto img
{
    margin-left: 20px;
}

.sectionhead{

	background-color:#689e18;
	height:45px;
	font:24px Tahoma, Geneva, sans-serif;
	color:#FFF;
	width: 385px;
	margin-left:-10px;
}

.sectionhead span{
	margin-left: 20px;
    line-height:45px;
}


.sectiongap{
	margin-top:40px;	
}

#pulication{
    background-color:#fff;
    height: auto;
}

.pubgap{
     margin-top: 20px;
}

.pfigure img{
	width: 400px;
	margin-left: 40px;
	margin-top: 20px;
}


.ptitle{
    font:15px Arial,sans-serif;
	color:#1f1e1e;
	margin-top:30px;
	line-height:25px;
	margin-left: 80px;
    margin-right: 100px;
}
.pabstract{
    font:15px Arial, sans-serif;
	color:#1f1e1e;
	margin-top:15px;
	line-height:22px;
	margin-left: 80px;
    margin-right: 80px;    
}

#project{
    background-color:#fff;
    height: auto;
}

.presource{
 font:14px Tahoma, Arial,sans-serif;
	color:#1f1e1e;
}

.clear{clear:both;}

/*footer*/
#footer{
	border-top:1px dashed #b7b4a3;
	margin-top: 70px;
	background-color:#ebe8d9;
	height:95px;
	margin-left:25px;
	margin-right:45px;
}

.update{
	margin-left:14px;	
	float:right;
    font:16px Arial;
	color:#1f1e1e;
	line-height:50px;    
}




